.flex {
  display: flex;
  &.justifyContentSpaceBetween {
    justify-content: space-between;
  }
  &.alignItemsCenter {
    align-items: center;
  }
}

.text-center {
  text-align: center;
}

.fullHeight {
  height: 100%;
}
