{
  "presets": ["react-app"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "alias": {
          "@components": "./src/components",
          "@global": "./src/global",
          "@utils": "./src/utils",
          "@integrations": "./src/integrations",
          "@hooks": "./src/hooks",
          "@constants": "./src/constants",
          "@contexts": "./src/contexts",
          "@scenes": "./src/scenes",
          "@types": "./src/types",
          "@store": "./src/store",
          "@styles": "./src/styles",
          "@public": "./public"
        }
      }
    ]
  ]
}
