.targetClassName {
  background-color: red;
  text-align: center;
  padding: 20px;
}
.draggingOverTargetClassName {
  box-shadow: 0 0 13px 3px #ff6e40;
}
.draggingOverFrameClassName {
  background-color: blue;
}
